.admin-board {
  position: sticky;
  top: 0px;
}
.admin-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(221, 219, 219);
  border-radius: 10px;
  padding: 20px 5px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.cart-user {
  display: flex;
  align-items: center;
}
.cart-user p {
  margin: 0;
  padding-left: 20px;
  font-weight: 700;
}
.cart-user img {
  width: 60px;
  border-radius: 50%;
  height: 60px;
}
.info {
  margin-right: 15px;
  margin-left: 15px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
}
.info p {
  margin: 0;
}
.time {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: rgb(221, 219, 219);
}
.time p {
  margin: 0 10px;
  padding: 16px;
  border-radius: 30%;
  background: rgb(244, 246, 245);
}
.ex-time {
  /* background: rgb(199, 196, 196); */
  font-size: 20px;
  font-weight: 600;
}
.total-time {
  margin-left: 40px;
}
.ex-time p {
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  background: rgb(197, 197, 197);
}
.complete-btn {
  margin-top: 30px;
  background: #0d74fa;
  width: 100%;
  border-radius: 10px;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 20px;
}
