.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 10px;
}
.games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 100px 10px;
  padding: 20px;
  /* background-color: bisque; */
}

@media screen and (max-width: 480px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
  }
  .games-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-top: 100px 50px;
    padding: 10px;
  }
}
.user-container {
  padding: 30px;
  margin: 0px 10px;
  border-radius: 5px;
  background: rgb(240, 237, 237);
}
